body {
  margin: 0;
  padding: 0;
}

.grid {
  position: relative;
  display: block;
  height: max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 350px;
}

.hexagon {
  position: relative;
}

.hexagon span {
  position: absolute;
  top: 29px;
  right: 33px;
  transform: translate(50%, -50%);
  font-weight: medium;
}